:root{
	--blue-50: #0a84ff;
	--blue-60: #0060df;
	--gray-50: #737373;
	--gray-90-a10: rgba(12, 12, 13, 0.1);
	--gray-90-a20: rgba(12, 12, 13, 0.2);
	--gray-90-a30: rgba(12, 12, 13, 0.3);
	--gray-90-a80: rgba(12, 12, 13, 0.8);
}

body{
	font: message-box;
	font-size: 17px;
}

.tab{
  background-color: white; /* Green */
  color: var(--gray-90-a80);
	height: 48px;
	line-height: 48px;
  padding: 0 16px;
	text-size: 15px;
  text-align: center;
  text-decoration: none;
  display: block;
	float: left;
}

label:hover.tab{
	background-color: var(--gray-90-a10);
  border-bottom: 2px solid var(--gray-90-a20);
}

label:hover.active.tab{
	background-color: var(--gray-90-a10);
  border-bottom: 2px solid var(--blue-50);
}

label:active.tab{
	background-color: var(--gray-90-a20);
  border-bottom: 2px solid var(--gray-90-a20);
}

label:active.active.tab{
	background-color: var(--gray-90-a20);
  border-bottom: 2px solid var(--blue-50);
}

.active.tab{
  border-bottom: 2px solid var(--blue-50);
  color: var(--blue-60);
}

.container{
	padding: 24px 0px 0px;
}

.divider{
	margin: 24px 0px;
	border-top: 1px solid var(--gray-90-a20);
}

.proxiesform {
  position: relative;
  max-width: 100%;
	margin: 0px 10px;
}

.proxiesform .fields {
	margin-bottom: 8px;
}

.proxiesform .fields .field {
  display: inline-grid;
	margin: 0px 16px 0px 0px;
}

.proxiesform .field:last-child {
  margin-right: 0px;
}

.proxiesform .field > label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.833em;
	font-weight: 400;
}

.proxiesform input:not([type]),
.proxiesform input[type="number"],
.proxiesform input[type="password"],
.proxiesform input[type="text"] {
  /*width: 100%;*/
  vertical-align: top;
}

.proxiesform input:not([type]),
.proxiesform input[type="number"],
.proxiesform input[type="password"],
.proxiesform input[type="text"] {
  height: 32px;
	padding: 0px 8px;
  font-size: 0.833em;
  border: 1px solid var(--gray-90-a20);
  color: var(--gray-50);
  border-radius: 2px;
}

.proxiesform input:not([type]):hover,
.proxiesform input[type="number"]:hover,
.proxiesform input[type="password"]:hover,
.proxiesform input[type="text"]:hover {
	border: 1px solid var(--gray-90-a30);
}

.proxiesform input:not([type]):focus,
.proxiesform input[type="number"]:focus,
.proxiesform input[type="password"]:focus,
.proxiesform input[type="text"]:focus {
	border: 1px solid var(--blue-50);
	color: #0c0c0d;
}

.proxiesform select {
  cursor: pointer;
	display: block;
  height: 32;
  width: 150%;
  border: 1px solid var(--gray-90-a20);
  border-radius: 2px;
  padding: 0px 8px;
	margin-bottom: 0px;
  background-color: White;
  color: var(--gray-50);
	font-size: 0.833em;
}

.proxiesform select:hover {
	border: 1px solid var(--gray-90-a30);
}

.proxiesform select:focus {
	border: 1px solid var(--blue-50);
	color: #0c0c0d;
}

.proxiesform select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

button.add > img {
	vertical-align: top;
	padding-right: 5px;
}

button.add {
	height: 32px;
	width: auto;
	margin: 0px 10px 10px;
	border-radius: 2px;
	border: none;
	background-color: var(--gray-90-a10);
}

button.delete {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 32px;
	width: auto;
	margin: 4px;
	border-radius: 2px;
	border: none;
	background-color: var(--gray-90-a10);
}

button.delete > img {
	vertical-align: top;
	padding-right: 1px;
}

button:hover {
	background-color: var(--gray-90-a20);
}

button:active {
	background-color: var(--gray-90-a30);
}

button:focus {
	box-shadow: 0 0 0 1px #0a84ff inset, 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3)
}

button::-moz-focus-inner {
  border: 0;
}

#rulesdiv {
	margin: 10px;
}

table {
	width: 100%;
	background-color: White;
	border-radius: 2px;
	border-collapse: collapse;
}

th {
	background-color: var(--gray-90-a10);
	border: 1px solid var(--gray-90-a20);
	border-bottom: none;
	font-weight: 400;
	color: var(--gray-50);
	height: 28;
	text-align: left;
	padding: 0px 8px;
}

td {
	text-align: left;
	padding: 0px 8px;
	height: 28px;
	border: 1px solid var(--gray-90-a20);
	border-right: none;
}

td.select {
	padding: 0px;
	border: 1px solid var(--gray-90-a20);
}

td.select:hover {
	border: 1px solid var(--gray-90-a30);
}

td > select {
  cursor: pointer;
	display: block;
  height: 32;
  width: 100%;
  padding: 0px 8px;
	border: none;
	margin-bottom: 0px;
  background-color: White;
  color: var(--gray-50);
}

td > select:hover{
	color: #0c0c0d;
}

td > select:active{
	color: #0c0c0d;
}

td > select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

#manualdiv {
	padding: 10px;
	font-size: 15px;
}

#manualdiv > p {
	margin-top: -10px;
}

.popupdiv {
	margin: 16px;
}

.popup td {
	min-width: 150px;
	padding: 0px 8px;
	border: 1px solid var(--gray-90-a20);
}

.pertabdiv {
	margin-top: 16px;
}

#perTabLabel {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.833em;
	font-weight: 400;
}

.pertabdiv select {
  cursor: pointer;
	display: block;
  height: 32;
  width: 100%;
  border: 1px solid var(--gray-90-a20);
  border-radius: 2px;
  padding: 0px 8px;
	margin-bottom: 0px;
  background-color: White;
  color: var(--gray-50);
}

.pertabdiv select:hover {
	border: 1px solid var(--gray-90-a30);
}

.pertabdiv select:focus {
	border: 1px solid var(--blue-50);
	color: #0c0c0d;
}

.pertabdiv select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}


